

  <div class="fuera">
    <div class="dentro">
        <div class="entrada">{{ number }}</div>
        <div class="resultado">{{ resultado }}</div>
    </div>
    <div class="calculador">
        <div class="principal">
            <button class="ac" (click)="borrar()">AC</button>
            <button class="division" (click)="acciones('/')">/</button>
            <button class="multiplicacion" (click)="acciones('*')">X</button></div>
        <div class="segundo">
            <button class="siete" (click)="numeros('7')">7</button>
            <button class="ocho" (click)="numeros('8')">8</button>
            <button class="nueve" (click)="numeros('9')">9</button>
            <button class="resta" (click)="acciones('-')">-</button>
        </div>
        <div class="tercero">
            <button class="cuatro" (click)="numeros('4')">4</button>
            <button class="cinco" (click)="numeros('5')">5</button>
            <button class="seis" (click)="numeros('6')">6</button>
            <button class="suma" (click)="acciones('+')">+</button>
        </div>
        <div class="cuarto">
            <button class="uno" (click)="numeros('1')">1</button>
            <button class="dos" (click)="numeros('2')">2</button>
            <button class="tres" (click)="numeros('3')">3</button>
            <button class="cero" (click)="numeros('0')">0</button>
            <button class="punto" (click)="numeros('.')">.</button>
            <button class="igualdad" (click)="igualdad()">=</button>
        </div>
        
    </div>
  </div>